<mtapp:setting
  id="moredata_opentag"
  label="<__trans phrase="Open Tag">"
  label_class="moredata-text-setting"
  hint="<__trans phrase="A tag which signals the start of your data.">"
  required="1"
  show_hint="1">
    <input type="text" name="moredata_opentag" id="opentag" 
       value="<mt:var name="moredata_opentag">" />
</mtapp:setting>

<mtapp:setting
  id="moredata_closetag"
  label="<__trans phrase="Close Tag">"
  label_class="moredata-text-setting"
  hint="<__trans phrase="A tag which signals the end of your data - not required if data is always below all content.">"
  required="0"
  show_hint="1">
    <input type="text" name="moredata_closetag" id="close" 
       value="<mt:var name="moredata_closetag">" />
</mtapp:setting>

<mtapp:setting
  id="moredata_datasep"
  label="<__trans phrase="Data Separator">"
  label_class="moredata-text-setting"
  hint="<__trans phrase="A character to join your data.">"
  required="1"
  show_hint="1">
    <input type="text" name="moredata_datasep" id="datasep" 
       value="<mt:var name="moredata_datasep">" />
</mtapp:setting>

<mtapp:setting
  id="moredata_hashsep"
  label="<__trans phrase="Hash Separator">"
  label_class="moredata-text-setting"
  hint="<__trans phrase="A character to join keys with values.">"
  required="1"
  show_hint="1">
    <input type="text" name="moredata_hashsep" id="hashsep" 
       value="<mt:var name="moredata_hashsep">" />
</mtapp:setting>

<mtapp:setting
  id="moredata_format"
  label="<__trans phrase="Default Data Format">"
  label_class="moredata-radio-setting"
  hint="<__trans phrase="Choose a default data format (currently only csv).">"
  required="1"
  show_hint="1">
  <ul>
  <li>
    <input type="radio" name="moredata_format" id="hash" class="rb" value="hash" <mt:if name="moredata_format" eq="hash">checked="checked" </mt:if>/>
    <label for="hash"><__trans phrase="hash"></label>
  </li>
  <li>
    <input type="radio" name="moredata_format" id="array" class="rb" value="array" <mt:if name="moredata_format" eq="array">checked="checked" </mt:if>/>
    <label for="array"><__trans phrase="array"></label>
  </li>
  <li>
    <input type="radio" name="moredata_format" id="string" class="rb" value="string" <mt:if name="moredata_format" eq="string">checked="checked" </mt:if>/>
    <label for="string"><__trans phrase="string"></label>
  </li>
<!-- add more options later
  <li>
    <input type="radio" name="moredata_format" id="format_datatable" class="rb" value="datatable" <mt:if name="moredata_format" eq="datatable">checked="checked" </mt:if>/>
    <label for="format_json"><__trans phrase="DataTable"></label>
  </li>
  <li>
    <input type="radio" name="moredata_format" id="format_json" class="rb" value="json" <mt:if name="moredata_format" eq="json">checked="checked" </mt:if>/>
    <label for="format_json"><__trans phrase="JSON"></label>
  </li>
  <li>
    <input type="radio" name="moredata_format" id="format_xml" class="rb" value="xml" <mt:if name="moredata_format" eq="xml">checked="checked" </mt:if>/>
    <label for="format_xml"><__trans phrase="XML"></label>
  </li>
  <li>
    <input type="radio" name="moredata_format" id="format_perl" class="rb" value="perl" <mt:if name="moredata_format" eq="perl">checked="checked" </mt:if>/>
    <label for="format_perl"><__trans phrase="Perl"></label>
  </li>
-->
  </ul>
</mtapp:setting>

<mtapp:setting
  id="moredata_blog"
  label="<__trans phrase="MoreData Blog">">
  hint="<__trans phrase="MoreData Blog Data Field Hint.">"
  <textarea id="blog_data" name="moredata_blog" rows="8" cols="72" class="full-width"><mt:var name="moredata_blog"></textarea>
</mtapp:setting>

